

<div class="container">
	<div class="row">
	
	<%= form_for @user  do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
	
  </p>
 
  <p>
    <%= f.label :uname %><br>
    <%= f.text_field :uname %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
	
	
		<div class="span12">
<form>
<fieldset>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th colspan="3" rowspan="1">Loc</th>
			<th colspan="2">Amount</th>
			<th>Hours</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="11"><span>Game Project</span></td>
			<td rowspan="6"><span>In-game</span></td>
			<td><span>Pre-testing</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr class="success">
			<td><span>Review</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr class="error">
			<td><span>Testing</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr class="warning">
			<td rowspan="2"><span>Bug Management</span></td>
			<td>Report</td>
			<td>Rtest</td>
			<td rowspan="2"><input type="text" /></td>
			<td rowspan="2"><input type="text" /></td>
		</tr>
		<tr class="warning">
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr class="info">
			<td><span>Audio Testing</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td rowspan="3"><span>Non-game</span></td>
			<td><span>Review</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td><span>Testing</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td><span>Bug Management</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td colspan="2"><span>Project Management</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td colspan="2"><span>Other</span></td>
			<td colspan="2"><input type="text" /></td>
			<td><input type="text" /></td>
			<td><input type="text" /></td>
		</tr>
	</tbody>
</table>
<button class="btn" type="submit">提交</button></fieldset>
</form>
</div>
