<%= link_to 'New user', new_user_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
     
    
  <% @users.each do |user| %>
输出：<%= "test" %> <%= ENV['userid'] %> 
    <tr>
      <td><%= user.title %></td>
      <td><%= user.text %></td>
      <td><%= link_to 'Show', wtt_path(user) %></td>
      <td><%= link_to 'Edit', edit_wtt_path(user) %></td>
    </tr>
  <% end %>
</table>

